.container.homepage
  %a.login{href: '/login'}
    Have a flashback &raquo;

  .disclaimer
    * if you're prone to seizures, take care

  .footer
    %a{href: 'https://github.com/moowahaha/FbFlashback', target: '_blank'}
      Code on Github