!!!

%html{'lang' => 'en'}

  %head
    %title
      Facebook Flashback

    %meta{name: 'description', content: 'Have your Facebook life flash before your eyes'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=0.5'}

    %link{href: 'http://fonts.googleapis.com/css?family=Raleway:100', rel: 'stylesheet', type: 'text/css'}

    %link{href: '/assets/application.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', type: 'text/javascript'}

  %body
    = yield

    = partial :tracking, template_engine: :erb
    = partial :like_button_js, template_engine: :erb