!!!

%html{'lang' => 'en'}

  %head
    %title
      Unfriend Roulette
    %meta{name: 'description', content: 'Go on. I dare you.'}

    %link{href: '/assets/application.css', rel: 'stylesheet', type: 'text/css'}

  %body
    = yield
