.container
  %a.begin.hidden{href: '#'}
    Begin &raquo;

  .loading
    %img{src: '/assets/loading.gif', alt: 'loading...'}

  .countdown.hidden
  .slideshow

  %a.again.hidden{href: '#'}
    Again?

.image-loader

%script{src: '/assets/slideshow.js', type: 'text/javascript'}